html {
    background-color: #Edddd0; 
  }

  p {
    font-family: 'Lexend Mega', sans-serif;
    color: #334259;
    padding: 10px;
    border: 50px;
    text-align: left;
  }

  .menu {
    display: inline;
    color: #002642;
    padding: 20px;
  }
 
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #334259;
  }

  .navigation a {
    color: #Edddd0;
  }
 
  .navigation a:hover {
    color: #DB504a;
  }

  a:visited, a:link, a:active {
    text-decoration: none;
  }

  body {
    font-family: 'Lexend Mega', sans-serif;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    margin:0;
    justify-content: left;
  }

  h1 {
    color: #E5E5DC;
    font-family: 'PT Serif', serif;
    padding-left: 10px;
  }

  img {
    width: 300px;
    height: 300px;
    padding-right: 20px;
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  }

  footer {
    padding: 6px;
    background-color: #334259;
    height: 40px;
    color: #Edddd0;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .sidebar {
    width: 400px;
    padding: 10px;
    background-color: #6e8783;
    color: #334259;
  }

  .content {
    text-align: left;
    justify-content: left;
    margin-left: auto;
  }
